/* nav .navbar-brand
{
    /* size for brand */
    /* font-size: xx-large;
}

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}


main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

#select_friends{
    display:none;
}

#friend1{
    display:none;
}

#friend2{
    display:none;
}

#friend3{
    display:none;
}

.jumbotron {
    background-color: #990000 !important;
}

.display-3 {
    color: white;
}

.jumbotron_text {
    color: white;
}

.form-center {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;