{% extends "layout.html" %}

{% block title %}
    Pictya
{% endblock %}

{% block main %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Welcome to Pictya</h1>
            <p class ="jumbotron_text">We'll help you and your friends pick the best film to watch. Just tell us who you are planning on watching with and what genre of film you want to watch... and we'll show you the best options! </p>
            <p><a class="btn btn-primary btn-lg" href="/register" role="button">Sign up &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Columns explaing what the website does -->
        <div class="row">
            <div class="col-md-4">
            	<h2>Update watchlist</h2>
            	<p>Spend a few moments scrolling through our list of movies and let us know what movies you have already seen. Keep this up to date as and when you watch new movies.</p>
                <p><a class="btn btn-primary" href="/watchlist" role="button">Update &raquo;</a></p>
            </div>
            <div class="col-md-4">
            	<h2>Pick a film</h2>
            	<p>Let us know which of your friends you are planning on watching with so we can take into account their previously watched films. Choose which genre of film you would like to watch.</p>
                <p><a class="btn btn-primary" href="/pick" role="button">Pick now &raquo;</a></p>
            </div>
            <div class="col-md-4">
            	<h2>List your platform</h2>
            	<p>Let us know which streaming platforms you are signed up for, whether that's Netflix, Amazon Prime, Hulu or others. You will also need to select which country you are watching from.</p>
            	<p><span class="badge badge-primary">Coming soon</span></p>
            </div>
        </div>
    </div>


{% endblock %}
