{% extends "layout.html" %}

{% block title %}
    Pictya
{% endblock %}

{% block main %}

    <h1>Pictya</h1>

    <p>Pick the best film to watch for you and your friends.</p>

    <p>Pictya helps you and your friends decide which movie to watch, saving time spent scrolling through Netflix, Amazon Prime and more.</p>

    <p>Just tell Pictya who is in the room, the genre you want, the streaming services you are signed up to, and let Pictya do the rest.</p>

    <p><a href="/register">Register</a> here to get started</p>

{% endblock %}
