{% extends "layout.html" %}

{% block title %}
    Pictya
{% endblock %}

{% block main %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Welcome to Pictya</h1>
            <p class ="jumbotron_text">Pictya helps you and your friends discover top rated films that none of you have seen before. Just let us know who’s in for movie night and what genre tickles your fancy… then let us do the rest!</p>
            <p><a class="btn btn-primary btn-lg" href="/register" role="button">Sign up &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Columns explaing what the website does -->
        <div class="row">
            <div class="col-md-4">
            	<h2>Your watchlist</h2>
            	<p>Have a scroll through our list of movies and select those you have seen before to create your own watchlist. Be sure to keep this up to date when you watch new movies.</p>
            </div>
            <div class="col-md-4">
            	<h2>Pick a film</h2>
            	<p>Let us know who’s watching and your genre of choice. We'll show you the highest rated movies not featured on any of your watchlists.</p>
            </div>
            <div class="col-md-4">
            	<h2 class="inline">Your platforms </h2><span class="badge badge-primary">Coming soon</span>
            	<p>Tell us if you are signed up for any streaming platforms, whether that's Netflix, Amazon Prime, Hulu or any others. We’ll let you know what films you can watch.</p>
            	<!-- <p><span class="badge badge-primary">Coming soon</span></p> -->
            </div>
        </div>
    </div> 


{% endblock %}
