{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    
    <!-- Login form -->
    <body class="text-center">
        <div class="container p-5">
            <form class="form-signin" action="/login" method="post">
                <h1 class="h3 mb-3 font-weight-normal">Log in</h1>
                <div class="form-group">
                    <input autocomplete="username" autofocus class="form-control" name="username" placeholder="Username" type="text">
                </div>
                <div class="form-group">
                    <input autocomplete="current-password" class="form-control" name="password" placeholder="Password" type="password">
                </div>
                <button class="btn btn-md btn-primary btn-block" type="submit">Log In</button>
            </form>
        </div>
    </body>
    
{% endblock %}
