{% extends "layout.html" %}

{% block title %}
    Pick a film
{% endblock %}

{% block main %}

    <div class="container p-5">

        <!-- Pick a film form -->
        <h1>Pick a film</h1>
        <form action="/pick" method="post">

            <!-- Choose which friends you are watching with -->
            <p class="extra_spacing">Let us know who’s watching and your genre of choice, and we will show you the highest rated movies not featured on any of your watchlists.</p>
            <p>Who are you watching with?</p>
        	<div class="form-group">
                <select class="form-control" multiple name="mymultiselect">
                	{% for row in rows %}
                    <option>{{row['username']}}</option>
                    {% endfor %}
                </select>
            </div>
            <p><i>Please select up to 5 friends. Use the 'Control' button on Windows or 'Command' button on Mac to select multiple.</i></p>
            
            <!-- Choose which genre of film you want to see -->
            <p>What genre do you want?</p>
            <div class="form-group">
            	<select class="form-control" name="selected_genre">
                	<option>All genres</option>
                	{% for genre in genres %}
                    <option>{{genre['genre']}}</option>
                    {% endfor %}
                </select>
            </div>
            <button class="btn btn-primary" type="submit">Pick a film</button>
        </form>
    
    </div>

{% endblock %}
