{% extends "layout.html" %}

{% block title %}
    Watchlist
{% endblock %}

{% block main %}

    <div class="container p-5">

        <!-- Ask user to identify all films that they have watched previously -->
        <h1>Watchlist</h1>
        <p>Select all films that you have previously watched...</p>
        <form action="/watchlist" method="post">
        <table id="pagination" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Genres</th>
                    <th>Year</th>
                    <th>Rating</th>
                    <th name='ranking'>Ranking</th>
                    <th>Watched?</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr>
                    <td>{{row['title']}}</td>
                    <td>{{row['genres']}}</td>
                    <td>{{row['year']}}</td>
                    <td>{{row['rating']}}</td>
                    <td>{{row['ranking']}}</td>
                    <td>
                        <div class="form-check">
                            <input id='checked' type='checkbox' value='true' name="checkbox{{row['id']}}" aria-label="..." {% if row['watched'] == True %}Checked{% endif %} >
                            <input id='not_checked'  type='hidden' value='false' name="checkbox{{row['id']}}">
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>

{% endblock %}
